@media only screen and (min-width: 1000px) {

    /* responsive navigation bar */
    .navigation {
        display: flex;
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    #menu {
        display: none;
    }
    /* toggle switch */
    header {
        position: relative;
    }
    .switch {
        position: absolute;
        display: inline-block;
        top: 1rem;
        right: 1rem;
        width: 60px;
        height: 34px;
    }
   
   /* responsive grid */ 
    .events-box {
        display: flex;
        grid-row: 2 / 3;
        background-color: #E9F1EE;
        align-items: center;
    }

    /* remove border and shadow from spotlight cards */
    .spotlight-1-card, .spotlight-2-card, .spotlight-3-card {
        border: none;
        box-shadow: none;
    }
    .card-img img, .event-img img {
        max-width: 300px;
    }

    /* responsive footer */
    footer {
        display: grid;
        grid-template-columns: 100px 1fr 1fr;
        text-align: center;
    }
    .logo-footer {
        grid-column: 1 / 2;
    }
    
    .info-author {
        grid-column: 2 / 4;
    }

    hr {
        display: none;
    }

    /*---------- DISCOVER PAGE ----------*/
    #sidebar {
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: center;
    }

    .sidebar-left {
        grid-column: 1 / 2;
    }

    .sidebar-right {
        grid-column: 2 / 3;
    }

    /* hover effect on images */
    .discover-img:hover {
        box-shadow: 0 0 50px #333;
    }

    /*------------ JOIN PAGE ------------*/
    main.join-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        gap: 1rem;
    }
    .join-form {
        grid-column: 1 / 2;
    }
    .benefits {
        grid-column: 2 / 3;
    }
}