@media only screen and (max-width: 800px) {
    
    .home-grid {
        display: flex;
        flex-direction: column;
    }
    .discover-box, .event-box, .plein-feux {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
