* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
}

h1, h2 {
    text-align: center;
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    padding: 10px;
    background-color: #000;
    animation: fade 15s;
}

footer {
    text-align: center;
    padding: 20px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}